:root {
	--mf: #000;
	--mb: #ffa;
	--af: #0065bb;
	--ab: #f1ffc2;
	--rb1: #fff;
	--rb2: #b0caff;
	--pl: #ccf3cc;
	--mi: #f9dada;
}

body {
	color: var(--mf);
	background: var(--mb);
}

nav {
	list-style-type: none;
	position: fixed;
	top: 0;
	width: 100%;
	background: var(--ab);
	z-index: 1;
}

nav li {
	display: inline-block;
}

nav li a {
	display: inline-block;
	padding: 15px 16px;
	text-decoration: none;
	color: var(--af);
}

nav li a:hover {
	color: var(--ab);
	background: var(--af);
}

nav li div {
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(128,255,64,0.4);
	background: var(--ab);
}

nav li:hover div, nav li div a {
	display: block;
}

main {
	margin-top: 40px;
}

section {
	position: fixed;
	top: 48px;
	left: 8px;
	right: 8px;
	bottom: 8px;
	background: rgba(0,0,0,0.7);
	overflow: auto;
}

article {
	padding: 5px;
	background: var(--rb1);
}

figure {
	margin: 20px auto;
	padding: 10px;
	background: var(--rb2);
}

figcaption {
	text-align: center;
}

table, td {
	border: 1px solid var(--mf);
}

input, select, .edit, input[type=file]::-webkit-file-upload-button {
	border-color: var(--af);
	color: var(--af);
	background: var(--ab);
}

input:focus, input:active, input:hover, .edit:hover {
	color: var(--ab);
	background: var(--af);
}

.plus {
	background: var(--pl);
}

.minus {
	background: var(--mi);
}

.money_table td:nth-child(3),
.money_table td:nth-child(9) {
	width: 80px;
}

.money_table td:nth-child(4),
.money_table td:nth-child(5),
.num {
	text-align: right;
}

.login_form {
	width: 360px;
	margin: auto;
}

.login_form form {
	position: relative;
	background: var(--mb);
	max-width: 360px;
	padding: 45px;
}

.login_form input[type=text],
.login_form input[type=password],
.login_form input[type=button] {
	outline: 0;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.edit {
	cursor: pointer;
}

#edit_form figure {
	width: 600px;
}

#report figure {
	display: inline-block;
	min-width: 175px;
	margin: 5px;
}

.form div {
	line-height: 25px;
}

.form div label {
	display: inline-block;
	width: 110px;
	text-align: right;
}

.form div input[type=text].combobox_input {
	width: 320px;
}

.form div input[type=text] {
	width: 342px;
}

.form div input[type=button].combobox_button {
	margin-left: -6px;
	width: 24px;
}

.form div input[type=button] {
	width: 120px;
}

.form div select.combobox_list {
	margin-left: 114px;
}

.form div select {
	width: 341px;
}
