:root {
	--fc: #0275d8;
	--bc: #fff;
}

table, td {
	border: 1px solid black;
}

menu {
	list-style-type: none;
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	background: var(--bc);
	z-index: 2;
}

menu li {
	display: inline-block;
}

menu li a {
	display: inline-block;
	padding: 15px 16px;
	text-align: center;
	text-decoration: none;
	color: var(--fc);
}

menu li div a {
	display: block;
	text-align: left;
}

menu li a:hover {
	color: var(--bc);
	background: var(--fc);
}

menu li div {
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
	background: var(--bc);
}

menu li:hover div {
	display: block;
}

input, select, .edit {
	border-color: var(--fc);
	color: var(--fc);
	background: var(--bc);
}

.edit {
	cursor: pointer;
}

input:focus, input:active, input:hover, .edit:hover {
	color: var(--bc);
	background: var(--fc);
}

section {
	margin-top: 40px;
}

.hide {
	position: fixed;
	top: 48px;
	left: 8px;
	right: 8px;
	bottom: 8px;
	background: rgba(0,0,0,0.7);
	overflow: auto;
	z-index: 1;
}

article {
	margin: auto;
	padding: 5px;
	background: #96e8e8;
}

figure {
	margin: 20px auto;
	min-width: 360px;
	padding: 10px;
	background: #b0caff;
}

figcaption {
	text-align: center;
}

.plus {
	background: #bbf5bb;
}

.minus {
	background: #fbc3c3;
}

.report {
	display: inline-block;
	min-width: 175px;
	margin: 5px;
}

.num {
	text-align: right;
}
