:root {
	--mf: #fff;
	--mb: #222;
	--af: #aaf;
	--ab: #111;
	--rb1: #000;
	--rb2: #111;
	--pl: #afa;
	--mi: #fe6;
}

body {
	color: var(--mf);
	background: var(--mb);
}

nav {
	list-style-type: none;
	position: fixed;
	top: 0;
	width: 100%;
	background: var(--ab);
	z-index: 1;
}

nav li {
	display: inline-block;
}

nav li a {
	display: inline-block;
	padding: 15px 16px;
	text-decoration: none;
	color: var(--af);
	transition-duration: 0.4s;
}

nav li a:hover {
	color: var(--ab);
	background: var(--af);
}

nav li a:active {
	color: var(--pl);
}

nav li div {
	display: none;
	position: absolute;
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.4);
	background: var(--ab);
}

nav li:hover div, nav li div a {
	display: block;
}

main {
	margin-top: 40px;
}

section {
	position: fixed;
	top: 48px;
	left: 8px;
	right: 8px;
	bottom: 8px;
	background: rgba(0,0,0,0.7);
	overflow: auto;
}

article {
	padding: 5px;
	background: var(--rb1);
}

figure {
	margin: 20px auto;
	padding: 10px;
	background: var(--rb2);
}

figcaption {
	text-align: center;
}

table {
	border: 4px double var(--mf);
	border-collapse: collapse;
}

td {
	border: 1px solid var(--mf);
}

input, select, .edit {
	border-color: var(--af);
	color: var(--af);
	background: var(--ab);
	transition-duration: 0.4s;
}

input, select {
	width: 319px;
	margin: 0 0 5px;
	padding: 5px;
	box-sizing: border-box;
}

input[type=date] {
	width: 160px;
}

input[type=button] {
	width: 120px;
}

input[type=checkbox] {
	width: 13px;
}

input[type=file]::-webkit-file-upload-button {
	visibility: hidden;
	width: 0;
}

input:focus, input:hover, select:focus, select:hover, .edit:hover {
	color: var(--ab);
	background: var(--af);
}

input:active, select:active, .edit:active {
	color: var(--mf);
	background: var(--mb);
}

.plus {
	color: var(--pl);
}

.minus {
	color: var(--mi);
}

.money_table td:nth-child(3),
.money_table td:nth-child(9) {
	width: 80px;
}

.money_table td:nth-child(4),
.money_table td:nth-child(5),
.num {
	text-align: right;
}

.login_form {
	width: 360px;
	margin: auto;
}

.login_form form {
	position: relative;
	background: var(--mb);
	max-width: 360px;
	padding: 45px;
}

.form, .form td {
	border: 0;
	padding-top: 7px;
}

.form td:nth-child(1) {
	text-align: right;
}

.edit {
	cursor: pointer;
}

#edit_form figure {
	width: 512px;
}

#report figure {
	display: inline-block;
	min-width: 175px;
	margin: 5px;
}

/*custom-combobox*/
.custom-combobox {
	position: relative;
	display: inline-block;
}
.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
}
.custom-combobox-input,
.custom-combobox-toggle,
.ui-tooltip,
.ui-menu {
	border: 1px solid var(--af);
	background: var(--ab);
	color: var(--af);
}

/*custom-combobox*/
.custom-combobox-toggle {
	height: 20px;
	width: 25px;
}
.ui-icon {
	width: 16px;
	height: 16px;
	background: url(data:image/gif;base64,R0lGODlhEAAQAMZMAOpFMPLBw+VgXPfe4OZhXeVjYOVkYeVlYuViXuViX+VmY+xGL/fc3ffc3ulFMedHNutFMOyanORSSfTMzupFMf75+etGMP329u+tr/33+O6pq+dzcfLDxeVZU+lGMedzcuVYUv/9/eiEhfTJy/ro6fPFx+ZIN+d0c+VLPuuYmudGM+mFhehGMuVKPO2goudraeVTSvvs7f77+/bU1e+ztfG8vuZHN+ZIOOZGNfnk5eVnZPfa2+dpZvz09Png4euWmOVLPedHNOdwb+VMP+ZsauVNQu+vseVNQedHNeuTkwl06O1GL////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////yH/C05FVFNDQVBFMi4wAwEAAAAh+QQFFAB/ACwAAAAAEAAQAAAHMIB/goOEhYaHiImETIqCjEyQipCPkYeTg5eFmZiVjp2LlZuGk6KWpYifjaqrrK2CgQAh+QQFFAB/ACwAAAMAEAAJAAAHKIB/S3+EhYaEg0uKh4eKiYuMgpCSg42TiJeOkZqUkZiOlZ6UoaKSkYEAIfkEARQAfwAsAAADABAACQAAByiAf0p/hIWGhINKioeHiomLjIKQkoONk4iXjpGalJGYjpWelKGikpGBADs=);
}
.ui-tooltip {
	border: 1px solid var(--af);
	color: var(--af);
	background: var(--ab);
}
.ui-button-icon-only {
	padding: 2px 0 3px;
	box-sizing: content-box;
}
